<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bevestiging</title>
    <link rel="stylesheet" th:href="@{/styles/brouwers.css}"/>
    <link rel="stylesheet" th:href="@{/styles/default.css}"/>
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}">Welkom</a></li>
        <li><a th:href="@{/brouwers}">Brouwers</a></li>
        <li><a th:href="@{/winkelwagen}">Winkelwagen</a></li>
    </ul>
</nav>
<h1>Je winkelwagentje is bevestigd als bestelbon <span th:text="${id}"></span></h1>
</body>
</html>