<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Brouwer</title>
    <link rel="stylesheet" th:href="@{/styles/brouwers.css}"/>
    <link rel="stylesheet" th:href="@{/styles/default.css}"/>
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}">Welkom</a></li>
        <li><a th:href="@{/brouwers}">Brouwers</a></li>
        <li><a th:href="@{/winkelwagen}">Winkelwagen</a></li>
    </ul>
</nav>
<h1>Brouwers</h1>
<ul th:if="${brouwers != null}">
    <li th:each="brouwer : ${brouwers}" ><a th:text="${brouwer.naam + ' (' + brouwer.adres.gemeente + ')'}" th:href="@{/brouwers/{id}(id=${brouwer.id})}"></a> </li>

</ul>
</body>
</html>